  <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg"  color-on-scroll="100">
  <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="{{ url_for("index") }}">
            <img src="{{ url_for('static', filename='src/img/home-logo.png') }}" alt="Home Logo" class="nav-logo">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <div class="dropdown show">
                <a class="btn bg-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: darkorange;">Home</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Home</a>
                    <a class="dropdown-item" href="#">About</a>
                    <a class="dropdown-item" href="#">Contact</a>
                </div>
            </div>
              <div class="dropdown show">
                <a class="btn bg-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: darkorange;">Important</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Policy Agreement</a>
                    <a class="dropdown-item" href="#">Terms and Conditions</a>
                    <a class="dropdown-item" href="#">Protection Rights</a>
                    <a class="dropdown-item" href="#">FAQ</a>
                </div>
            </div>
              <div class="dropdown show">
                <a class="btn bg-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: darkorange;">Admin</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Admin Home</a>
                    <a class="dropdown-item" href="#">Add Property</a>
                    <a class="dropdown-item" href="#">Profile</a>
                </div>
            </div>
              <div class="dropdown show">
                <a class="btn bg-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: darkorange;">Properties</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Properties Home</a>
                    <a class="dropdown-item" href="#">Search Properties</a>
                    <a class="dropdown-item" href="#">Saved Properties</a>
                </div>
            </div>
              <div class="dropdown show">
                <a class="btn bg-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: darkorange;">Contacts</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Contact List</a>
                    <a class="dropdown-item" href="#">Write Message</a>
                </div>
            </div>
          </ul>
      </div>
  </div>
</nav>