
      <footer class="footer">
          <div class="container-fluid">
            <ul class="nav">
              <li class="nav-item">
                <a target="_blank" 
                   href="https://www.creative-tim.com/product/black-dashboard-pro-django"  class="nav-link">
                  Django Black Pro
                </a>
              </li>
            </ul>
            <div class="copyright">
              &copy;  
              <a target="_blank" rel="noopener noreferrer"
                  href="https://www.creative-tim.com">Creative Tim</a> - 
              Coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">AppSeed</a>. 
            </div>
          </div>
        </footer>
        
